{% extends "keep_inventory/base.html" %}

{% block content %}

<p>{{ start_date }} - {{ end_date }}</p>

<h2>Sales Overview</h2>
<div>
    <form method="get" action="{% url  'keep_inventory:search_sales_per_date' %}">
        <label for="start_date">
            Start Date:
            <input type="date" id="start_date" name="start_date" required>
        </label>
        <label for="end_date">
            End Date:
            <input type="date" id="end_date" name="end_date" required>
        </label>
        <button type="submit" name = "date">Search</button>
    </form>
</div>
<div>
    <div>
        <h3>NO. OF TRANSACTIONS</h3>
        {% if sales_count != None %}
            <p>{{ sales_count }}</p>
        {% endif %}

    </div>
    <div>
        <h3>TOTAL SALES</h3>
        {% if total_sales != None %}
            <p>GH₵{{ total_sales }}</p>
        {% endif %}
    </div>

</div>
<div><p>
        {% for product in products %}
            {% if product <= 3 %}
                only {{ product.total_stock }} of {{ product.product_name }} remains
            {% endif %}
        {% endfor %}
    </p>
</div>


{% endblock content %}