{% extends "keep_inventory/base.html" %}

{% block content %}
<div class="search-section">
    
    <h2>Search Products</h2>

    <form method="get" action="{% url 'keep_inventory:sell' %}">
        {% csrf_token %}
        <input type="text" name="q" value="{{ query }}" placeholder="🔍 Search products..." autofocus>
        <button type="submit" class="btn btn-info">Search</button>
    </form>

    {% if query %}
    <p>Results for "{{ query }}":</p>

    {% if results %}
    <table class="table-striped table">
        <tr>
            <th>SKU</th>
            <th>Product</th>
            <th>Rate</th>
            <th>Quantity in Stock</th>
            <th>Purchasing Quantity</th>
        </tr>
        {% for product in results %}
        <tr>
            <td>{{ product.sku }}</td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.unit_selling_price }}</td>
            <td>{{ product.total_stock }}</td>
            <td>
                <form method="post" action="{% url 'keep_inventory:add_to_cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="sku" value="{{ product.sku }}">
                    <input type="number" min="1" max="{{ product.total_stock }}" name="quantity" required>
                    <button type="submit">➕Add</button>
                </form>
            </td>

        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No results found.</p>
    {% endif %}
    {% endif %}
</div>

<div class="confirmation-section">
    <h2>Confirmation Table</h2>
    {% if cart %}
    <table class="table-striped table">
        <tr>
            <th>SKU</th>
            <th>Product</th>
            <th>Rate</th>
            <th>Purchasing Quantity</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
        {% for item in cart %}
        <tr>
            <td>{{ item.sku }}</td>
            <td>{{ item.product_name }}</td>
            <td>{{ item.unit_selling_price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.amount }}</td>
            <td>
                <form method="POST" action="{% url 'keep_inventory:remove_from_cart' item.sku %}">
                    {% csrf_token %}
                    <button type="submit" name="remove" value="remove">❌</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if cart %}
    <p><strong>Total amount:</strong> {{ total_amount }}</p>
    {% endif %}
    <form method="post" action="{% url 'keep_inventory:confirm_sale'%}">
        {% csrf_token %}
        <button type="submit" name="confirm_sale" value="confirm_sale" class="btn btn-info">Confirm Sale</button>
    </form>
    {% else %}
    <p>No items added yet.</p>
    {% endif %}
</div>

{% endblock content %}