{% extends "keep_inventory/base.html" %}

{% block content %}
   <h2>Search Products</h2>

    <form method="get" action="{% url 'keep_inventory:sell' %}">
        <input type="text" name="q" value="{{ query }}" placeholder="Search products..." autofocus>
        <button type="submit">Search</button>
    </form>

    {% if query %}
        <h3>Results for "{{ query }}":</h3>
        {% if results %}
            <table>
                <tr>
                    <th>Product</th>
                    <th>Unit Price</th>
                    <th>Quantity in Stock</th>
                </tr>
                 {% for product in results %}
                 <tr>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.unit_selling_price }}</td>
                    <td>{{ product.quantity_in_stock }}</td>
                    <td><button>Add</button></td>
                 </tr>
                 {% endfor %}   
            </table>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    {% endif %}
{% endblock content %}
