.page{
    
    border-radius: 5px;
    padding:7px;
}


th{
    background-color: #FFFFC5;
}

.dashboard-records{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:20px;
    margin-bottom: 40px;
}

.ind-records{
    height:160px;
    width:320px;
    border:	#2F4F4F solid 1px;
    border-radius: 5px;
    box-shadow: 0px 5px #8FBC8B;
    padding:30px;
    margin-top:10px;
}

.number{
    margin:25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:30px;
}

.contain-alerts{
    
    width:770px;
    margin:auto;
    border:	#030505 solid 1px;
    border-radius: 5px;
    box-shadow: 0px 5px #8D021F;
    padding:30px;
}

.date{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.select-date{
    display:block;
    height:37px;
    padding:10px;
    border-radius: 5px;
    margin:3px;
}

h1,h2,h3,h4,h5,h6{
    font-family: roboto;
}

.nav-link.active:not(:hover) {
    font-weight: bold;
    background-color:#4B9CD3;
    color: whitesmoke !important; /* Blue */
    padding:10px;
    border-radius: 5px;
    margin:0;
}