{% extends 'admin/base.html' %}

{% load i18n %}

{% block title %}
    {% if subtitle %}
        {{ subtitle }} |
    {% endif %}

    {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block content %}
<div class="date">
    <p style="margin-top:20px;">{{ start_date }} - {{ end_date }}</p>
    <form method="get" action="{% url  'keep_inventory:search_sales_per_date' %}">
        <label for="start_date">
            Start Date
            <input type="date" id="start_date" name="start_date" required class="select-date">
        </label>
        <label for="end_date">
            End Date
            <input type="date" id="end_date" name="end_date" required class="select-date">
        </label>
        <button type="submit" name = "date" class="btn btn-info">Search</button>
    </form>
</div>
{% endblock %}